@using Security.Models.Database
@model ProfileViewModel

@section StyleSheet {
    <link href="~/css/Profile.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Title {
    Edit Profile
}

@section MyProfile {

    @if (ViewData["currentUser"] != null)
    {
        UserItem user = (UserItem)ViewData["currentUser"];
        if (user.RoleId == 2)
        {
            <li><a asp-controller="Profile" asp-action="Profile" asp-route-id="@user.Id" class="nav-link text-dark">My Profile</a></li>
        }
        <li><a asp-controller="Login" asp-action="Logout" class="nav-link text-dark">Logout</a></li>
    }
}

<h1>Edit Profile</h1>
<div class="col-sm-12 text-right">
    @if (ViewData["currentUser"] != null)
    {
        UserItem user = (UserItem)ViewData["currentUser"];
        <a asp-action="Profile" asp-controller="Profile" asp-route-id="@user.Id" class="btn btn-info">View Profile</a>
    }
</div>
<div class="row ProfileViewHeader">
    <fieldset class="ProfileViewForms">
        <legend>Profile Information</legend>
        <form asp-action="ProfileEdit" asp-controller="Profile" method="post">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="FirstName">First Name</label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="error"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="LastName">Last Name</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="error"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="Cohort">Cohort</label>
                            <input asp-for="Cohort" class="form-control" />
                            <span asp-validation-for="Cohort" class="error"></span>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="error"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="Phone">Phone</label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="error"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="ContactPreference">Contact Preference</label>
                            <input asp-for="ContactPreference" placeholder="Email or Phone?" class="form-control" />
                            <span asp-validation-for="ContactPreference" class="error"></span>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="Address">Address</label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="error"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="City">City</label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="error"></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label asp-for="State">State</label>
                            <input asp-for="State" class="form-control" />
                            <span asp-validation-for="State" class="error"></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label asp-for="PostalCode">Postal Code</label>
                            <input asp-for="PostalCode" class="form-control" />
                            <span asp-validation-for="PostalCode" class="error"></span>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="form-group">
                            <label asp-for="Summary">Professional Summary</label>
                            <textarea rows="4" asp-for="Summary" class="form-control"></textarea>
                            <span asp-validation-for="Summary" class="error"></span>
                        </div>
                    </div>
                    <div class="col-sm-4 text-right">
                        <div class="custom-control custom-switch">
                            <input asp-for="Searchable" type="checkbox" class="custom-control-input" id="customSwitch1">
                            <label asp-for="Searchable" class="custom-control-label" for="customSwitch1">Searchable by Employers</label>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="SoftSkills">Soft Skills</label>
                            <input asp-for="SoftSkills" placeholder="analytical, achiever, learner, strategic, etc. " class="form-control" />
                            <span asp-validation-for="SoftSkills" class="error"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Interests"></label>
                            <input asp-for="Interests" placeholder="security, data analytics, UX/UI, etc. " class="form-control" />
                            <span asp-validation-for="Interests" class="error"></span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="PhotoLink">Link to Photo</label>
                            <input asp-for="PhotoLink" placeholder="http://" class="form-control" />
                            <span asp-validation-for="PhotoLink" class="error"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6 text-left">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
    <br />
    <fieldset class="ProfileViewForms">
        <legend>Career Experience</legend>
        <div class="container">
            <div class="row">
                @foreach (var job in Model.CareerExperienceList)
                {
                    <div class="col-sm-6">
                        <div class="form-group">
                            <p>
                                <b>Title: </b>@job.Title<br />
                                <b>Employer: </b>@job.Employer<br />
                                <b>Industry: </b>@job.Industry<br />
                                <b>Start Date: </b>@job.StartDate.ToShortDateString()<br />
                                <b>End Date: </b>@job.EndDate.ToShortDateString()<br />
                                <b>Job Description: </b>@job.JobDescription<br />
                            </p>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <a asp-action="EditCareer" asp-controller="Profile" asp-route-id="@job.Id">Modify Entry</a>
                                </div>
                                <div class="col-sm-4 text-left">
                                    <a id="deleteLink" asp-action="DeleteCareer" asp-controller="Profile" asp-route-id="@job.Id">Delete Entry</a>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            <div class="col-sm-12 text-right">
                <a asp-action="AddCareer" asp-controller="Profile" class="btn btn-info">Add Another</a>
            </div>
            </div>
        </div>
    </fieldset>
<br />
<fieldset class="ProfileViewForms">
    <legend>Academic Background</legend>
    <div class="container">
        <div class="row">
            @foreach (var school in Model.AcademicsList)
            {
                <div class="col-sm-6">
                    <div class="form-group">
                        <p>
                            <b>Institution: </b>@school.Institution<br />
                            <b>Degree: </b>@school.Degree<br />
                            <b>Major: </b>@school.Major<br />
                            <b>Start Date: </b>@school.StartDate.ToShortDateString() <br />
                            <b>End Date: </b>@school.EndDate.ToShortDateString()<br />

                            @if (school.Graduated == true)
                            {
                                <b>Graduated: </b><span>Completed</span><br />
                            }
                            else
                            {
                                <b>Graduated: </b><span>Not Completed</span><br />
                            }
                        </p>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4 text-left">
                                <a asp-action="EditAcademics" asp-controller="Profile" asp-route-id="@school.Id">Modify Entry</a>
                            </div>
                            <div class="col-sm-4 text-left">
                                <a id="deleteLink" asp-action="DeleteAcademics" asp-controller="Profile" asp-route-id="@school.Id">Delete Entry</a>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-sm-12 text-right">
                <a asp-action="AddAcademics" asp-controller="Profile" class="btn btn-info">Add Another</a>
            </div>
        </div>
    </div>
</fieldset>
<br />
<fieldset class="ProfileViewForms">
    <legend>Portfolio Projects</legend>
    <div class="container">
        <div class="row">
            @foreach (var project in Model.PortfolioProjects)
            {
                <div class="col-sm-6">
                    <div class="form-group">
                        <p>
                            <b>Project Title: </b>@project.ProjectTitle<br />
                            <b>Description: </b>@project.ProjectDescription<br />
                            <b>Link to Code: </b>@project.ProjectLink<br>
                            <b>Technology Used: </b>
                            @for (int i = 0; i < project.TechnologiesUsed.Count; i++)
                            {
                                if (i != 0)
                                {
                                    <a>, @(project.TechnologiesUsed[i].TechName)</a>
                                }
                                else
                                {
                                    <a>@(project.TechnologiesUsed[i].TechName)</a>
                                }
                            }
                        </p>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4 text-left">
                                <a asp-action="EditPortfolioProject" asp-controller="Profile" asp-route-id="@project.Id">Modify Entry</a>
                            </div>

                            <div class="col-sm-4 text-left">
                                <a id="deleteLink" asp-action="DeletePortfolioProject" asp-controller="Profile" asp-route-id="@project.Id">Delete Entry</a>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-sm-12 text-right">
                <a asp-action="AddPortfolioProject" asp-controller="Profile" class="btn btn-info">Add Another</a>
            </div>        </div>
    </div>
</fieldset>
</div>